
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
    <div>
        <ul>
            <li>
                <a href="@Url.Action("AddOne", "Queue")"
                   class="w3-bar-item w3-button">Add One Item to Queue</a>
            </li>
            <li>
                <a href="@Url.Action("AddHugeList", "Queue")"
                   class="w3-bar-item w3-button">Add Huge List of Items to Queue</a>
            </li>
            <li>
                <a href="@Url.Action("Display", "Queue")"
                   class="w3-bar-item w3-button">Display Queue</a>
            </li>
            <li>
                <a href="@Url.Action("Delete", "Queue")"
                   class="w3-bar-item w3-button">Delete From Queue</a>
            </li>
            <li>
                <a href="@Url.Action("Clear", "Queue")"
                   class="w3-bar-item w3-button">Clear Queue</a>
            </li>
            <li>
                <a href="@Url.Action("Search", "Queue")"
                   class="w3-bar-item w3-button">Search Queue</a>
            </li>
            <li>
                <a href="@Url.Action("Index", "Home")"
                   class="w3-bar-item w3-button">Return to Main Menu</a>
            </li>
        </ul>
    </div>
    <div>
           
    </div>

</body>
</html>
